.service{
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: #F3ECF9;
    height: 100vh;
}

.service1{
    width: 20%;
}

.service1 .service-list{
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0px 5px 20px -14px rgba(0, 0, 0, 0.75);
}

.service1 .service-list div{
    margin-top: 5px;
    color: #000000;
    font-size: 20px;
}

.service1 .service-request{
    border: 2px solid #7828C8;
    border-radius: 30px;
    padding: 10px;
    margin-top: 20px;
    color: #7828C8;
    text-align: center;
}

.service2{
    width: 55%;
}

.service2 .selectors{
    background-color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0px 5px 20px -20px rgba(0, 0, 0, 0.75);
    padding: 20px;
}

.service2 .cards{
    margin-top: 20px;
    background-color: #FDFBFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 5px 20px -14px rgba(0, 0, 0, 0.75);
    padding: 20px 60px;
    overflow-y: scroll;
    height: 80vh;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.service2 .cards::-webkit-scrollbar {
    display: none;
  }

.service2 .cards .card1{
    background-color: white;
    box-shadow: 0px 5px 20px -14px rgba(0, 0, 0, 0.75);
    border: 1px solid #D6ACFF;
    border-radius: 20px;
    padding: 20px 40px;
    margin-top: 20px;
}

.service2 .cards .card1 .name{
    font-size: 25px;
    font-weight: 600;
}

.service2 .cards .card1 .service-name{
    font-size: 32px;
    font-weight: bold;
    color: #7828C8;
}

.service2 .cards .card1 .status{
    display: flex;
    justify-content: space-between;
}

.service2 .cards .card1 .availablility{
    color: #17C964;
    background-color: #E8FAF0;
    padding: 0px 20px;
    border-radius: 20px;
    font-size: 20px;
}

.service2 .cards .card1 .rating-review div span{
    font-weight: bold;
    font-size: 18px;
}

.service2 .cards .card1 p{
    margin-top: 10px;
}

.service2 .cards .card1 p span{
    font-weight: 500;
}

.service2 .cards .card1 .request{
    border: 2px solid #7828C8;
    width: fit-content;
    padding-left: 20px;
    border-radius: 15px;
    margin: 0px auto;
    margin-top: 40px;
}

.service3{
    height: 20px;
    width: 20%;
}

.service3 .my-service-request{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 20px -14px rgba(0, 0, 0, 0.75);
}

.service3 .my-service-request .request-heading{
    background-color: #7828C8;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.service3 .my-service-request .request-list{
    padding: 40px 20px;
    text-align: center;
}

.service3 .service-requestor{
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 5px 20px -14px rgba(0, 0, 0, 0.75);
}

.service3 .service-requestor .service-requestor-heading{
    font-size: 20px;
    color: #7828C8;
    padding: 10px;
}

.service3 .service-requestor .description{
    background-color: #F9F2FF;
    padding: 10px 30px;
}

.service3 .service-requestor .btn{
    margin: 10px 70px;
}
