.navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: white;
    padding: 10px 0px;
    box-shadow: 2px 2px 14px -12px rgba(0, 0, 0, 0.75);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar .features{
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.navbar .features .graduation i,.navbar .features .message i,.navbar .features .bell i{
    font-size: 25px;
    text-align: center;
}

.navbar .features .graduation,.navbar .features .message,.navbar .features .bell{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 28%;
}
