.signup{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.signup .main-content{
    width: 60%;
    padding: 0px 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup .main-image{
    width: 40%;
}

.signup-image .image{
    height: 100vh;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

